<div class="container">
    <h1 style="text-align: center;padding: 10px;"> Sentiment Analysis of companies</h1>
    <h5 style="text-align: center;padding: 10px;">Select top companies from below or search from the navigation bar.</h5>
    <div class="row">
        <div class="index-image">
            <a href="/AAPL"><img src="./images/apple.png"></a>
        </div>
        <div class="index-image">
            <a href="/AMZN"><img src="./images/amazon.png"></a>
        </div>
        <div class="index-image">
            <a href="/GOOG"><img src="./images/google.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="index-image">
            <a href="/FB"><img src="./images/faceboo.png"></a>
        </div>
        <div class="index-image">
            <a href="/NFLX"><img src="./images/netflix.png"></a>
        </div>
        <div class="index-image">
            <a href="/TSLA"><img src="./images/tesla.png"></a>
        </div>
    </div>

</div>